# exclusion
--exclude Package.swift, \
Sources/Documentation.docc/, \
.swiftpm, \
.deriveddata

# format options
--allman false # use K&R indentation style
--binarygrouping 4,8
--closingparen balanced
--commas always
--comments indent
--computedvarattrs same-line
--decimalgrouping 3,6
--elseposition same-line
--empty void
--exponentcase lowercase
--exponentgrouping disabled
--extensionacl on-declarations
--fractiongrouping disabled
--funcattributes prev-line
--hexgrouping 4,8
--hexliteralcase uppercase
--ifdef no-indent
--indent 4
--indentcase false
--importgrouping testable-bottom
--lineaftermarks false # Do not insert a blank line after "MARK: comments"
--linebreaks lf
--maxwidth 130
--octalgrouping 4,8
--operatorfunc spaced
--patternlet hoist
--ranges spaced
--semicolons inline
--storedvarattrs same-line
--stripunusedargs always
--trimwhitespace always
--typeattributes prev-line
--wraparguments before-first
--wrapcollections before-first
--wrapconditions after-first
--wrapparameters before-first

# rules
--disable elseOnSameLine,redundantSelf,redundantStaticSelf,redundantType,redundantRawValues,redundantReturn,preferForLoop
--enable blankLinesBetweenImports
